::selection {
    background-color: #101010;
    color: #fff;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #0a0a0a;
}

::-webkit-scrollbar-thumb {
    background: #333;
    border-radius: 4px;
}
html {
  overflow: hidden;
}

html.lenis,
html.lenis body {
  height: auto;
}

body {
  @apply antialiased bg-dark-500 text-neutral-200 selection:bg-brand-500 selection:text-white
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

.text-outline {
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0.1);
  color: transparent;
}